#pagetype.property-management{data: {sub_page: "listings"}}
  .admin-breadcrumbs
    Property Management
    %i.fa.fa-angle-right 
    = link_to "Listings", admin_listings_path
    %i.fa.fa-angle-right 
    Add Listing
  .admin-divider-line
  .admin-title-wrapper
    .admin-page-title 
      %i.fa.fa-list
      New Listing
  .admin-divider-line

  .admin-box-wrapper.full
    .admin-box
      .admin-form-header
        %p.admin-form-title Add a New Listing
        %p.admin-form-description Fill out the form below to add a new listing
      = render 'form'