#pagetype.property-management{data: {sub_page: "buildings"}}
  .admin-breadcrumbs
    Property Management
    %i.fa.fa-angle-right 
    = link_to "Buildings", admin_buildings_path
    %i.fa.fa-angle-right 
    Add Building
  .admin-divider-line
  .admin-title-wrapper
    .admin-page-title 
      %i.fa.fa-building-o
      New Building
  .admin-divider-line

  .admin-box-wrapper.full
    .admin-box
      .admin-form-header
        %p.admin-form-title Add a New Building
        %p.admin-form-description Fill out the form below to add a new building
      = render 'form'